.container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.header {
    align-items: center;
    background-color: var(--header-fundo);
    border-bottom: 1px solid  var(--header-bottom);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 150px;
    padding: 2rem;
    position: relative;
    justify-content: space-between;
}

.menu-button {
    display: none;
}

#information {
    color:  var(--information);
    display: flex;
    flex-direction: column;
    height: 9rem;
    justify-content: center;
    padding: 2rem;
}

#logo {
    display: flex;
    height: 150px;
}

#menu-toggle {
    display: none;
}

#nav-links a {
    background-color:   var(--nav-links-fundo);
    border-radius: 30px;
    box-shadow: 0 4px 10px var(--nav-links-box);
    box-sizing: border-box;
    color: var(--nav-links-letra);
    cursor: pointer;
    margin: 12px;
    padding: 14px;
    text-decoration: none;
    transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}

#nav-links a:hover {
    background-color: var(--nav-links-fundo-efeito);
    box-shadow: 0 6px 20px  var(--nav-links-box-efeito);
    transform: scale(1.02);
}