* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#logo {
   display: flex;
   height: 190px;
}

#presentation {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 9rem;
   padding: 2rem;
   color: #5f0064;
}

.body {
   background-image: url("imagem\ -\ 04.png");
   background-repeat: no-repeat;
   background-size: cover;
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid #5f0064;
   height: 150px;
   padding: 4rem;
   background-image: url("imagem\ -\ 01.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   font-family: Arial, Helvetica, sans-serif;
}

.logo-container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%
}

#nav-links a {
   color: rgb(84, 0, 80);
   padding: 14px;
   box-sizing: border-box;
   margin: 12px;
   border-radius: 30px;
   cursor: pointer;
   transition: transform 0.2s ease, background-color 0.2s ease;
   text-decoration: none;
}

#nav-links a:hover {
   background-color: #93c6e1;
   transform: scale(1.02);
}

.start {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   background-image: url(imagem\ -\ 03.jpg);
   background-repeat: no-repeat;
   background-position: left;
}

#title {
   display: flex;
   justify-content: right;
   box-sizing: border-box;
   flex-direction: column;
   margin-top: 16rem;
   width: 200px;
   font-family: Arial, Helvetica, sans-serif;
   color: #5f0064;
}